
.page-template-page-home  .gform_wrapper .gform_footer input.button, .page-template-page-home  .gform_wrapper .gform_footer input[type="submit"], 
.page-template-page-home   .gform_wrapper .gform_page_footer input.button, .page-template-page-home  .gform_wrapper .gform_page_footer input[type="submit"] 
{font-size: 1em;width: auto;margin: -5em 16px 0 0;float: right;padding-top: -2em;background-color:#216aaa; -webkit-border-radius: 10px;border-radius: 10px;
    padding:1em 2em;}
.page-template-page-home  .gform_wrapper .gform_footer input.button:hover, .page-template-page-home  .gform_wrapper .gform_footer input[type="submit"]:hover, 
.page-template-page-home   .gform_wrapper .gform_page_footer input.button:hover, .page-template-page-home  .gform_wrapper .gform_page_footer input[type="submit"]:hover
{color:$whiteColor; text-decoration: underline;background-color:$blackColor;}
.signup-section{max-width:800px!important;}

.section-intro h3, h3.section-intro{text-align:center; color:#216aaa;font-size:2em; border-bottom:solid #216aaa 2px;padding-top:1em;}
.page-template-page-home #main aside, .page-template-page-home blockquote {border:none 0px transparent;margin: 1em 2em;padding: 1em 2em; background: #216aaa;
color:$whiteColor; -webkit-border-radius: 10px;border-radius: 10px; font-size: 1.1em; }
.page-template-page-home .full-content-area {float: left; margin: 0; margin-bottom: 0px; width: 100%; background-color: rgba(255, 255, 255, 0.85);
    border-radius: 25px;border: none 0px transparent; margin-bottom: 0; padding: 1em 3em 0 3em; min-height: none;}
/*--- THE HERO IMAGE ---*/
.hero-image {display:block;height:40vh;/*set an height *//* line-height:200px;*/ /*set the baseline at 100px from top*/ overflow:hidden;/* crops/cut off */
    position:relative;}
.hero-image img {position: relative;margin: -50% auto;/* virtualy height needed turn don to zero */width: 100%;/* height will follow within image ratio */
    height:auto;/* to overrride attribute height set in tag */vertical-align:middle;/* finalise vertical centering on baseline*/}
.hero-caption-link {position: absolute;bottom: 0; background: rgba(255, 255, 255, 0.5);width: 100%;text-align: center;}
.hero-caption-link h4{padding:1em 0;}
.hero-caption-link h4 a {
    color:#0d1a26;
    font-weight: bold;
    font-style: italic;
    font-size: 1.25em;
}
.hero-caption-link h4 a:hover{text-decoration: underline;}
@media screen and (max-width: 800px) {
	.hero-image img {transform: scale(1.75);transform-origin: 50% 50%;}
}
@media screen and (max-width: 500px) {
	.hero-image img {transform: scale(2.25);transform-origin: 50% 50%;}
}
@media screen and (max-width: 350px) {
	.hero-image img {transform: scale(2.75);transform-origin: 50% 50%;}
}
/*--- PARTNERS LINKS ---*/
.partners li{float:left; width: 14%;list-style: none;margin:0 1%;}
/*---------------- HOME PAGE THREE FOCUS ITEMS ---------------------------------------------*/
.clear.focus-group {padding-bottom: 1em;}

.inner-focus-item{width:100%; margin:0 auto; text-align:left;padding:1em 0 0 0;
-webkit-border-radius: 10px;border-radius: 10px;}
.focus-item-content{width:calc(100% - 2em);margin:0 auto;text-align:center;background-color:rgba(255,255,255,.9);height:100%;position: relative;}
.focus-item-content h4{position: absolute;display: block;bottom:0; width:100%; padding:.5em 0;}
.focus-item-content h4 a{color:$whiteColor;}
.focus-item-content h4 a:hover{text-decoration: underline!important;}


.focus-item-excerpt{padding-bottom:4em;}
ul.three-focus-items, ul.four-focus-items{margin:0; padding:0; list-style:none;}
ul.three-focus-items > li{float:left; margin:0; width:calc(33% - 2em); text-align:center;font-size:1.05em;-webkit-border-radius: 25px;
border-radius: 25px;}
ul.three-focus-items > li a:hover{text-decoration: none;}
.three-focus-items .focus-icon{padding:0;width:36%; margin:.5em 32% 0 32%;} 
.three-focus-items .focus-icon img{width:100%;}
.three-focus-items .focus-icon img:hover{}
.inner-focus-item h3{background-color:transparent; border:none; margin:.5em 0; padding:.5em; color:$blackColor; font-size:2.25em;font-weight: normal; 
letter-spacing:.1em;margin:0;}

.inner-focus-item h3:hover, .inner-focus-item a h3:hover{text-decoration:underline!important;}


.three-focus-items p{margin:0;line-height:1.25em;color:black; font-weight:normal;}

.feature-icon { margin-top: 1em;display:block; width:80%;margin:1em 10%;}
.feature-icon img{-webkit-border-radius: 15px;border-radius: 15px;border:solid 1px $goldColor;width:100%; height:auto;}
.feature-content{margin-top: .75em;display:block; width:80%;margin:0 10% 1em 10%;}
.feature-content h3 {margin: 0;padding: 0;}

@media screen and (max-width: 1000px) {

}
@media screen and (max-width: 850px) {
ul.three-focus-items > li{float:left; margin:0 2em; width:calc(100% - 4em); text-align:center;}
.feature-icon { margin-top: 1em;float:left; width:48%;margin:1em 0;}
.feature-icon img{width:80%; max-width:300px; margin:0 auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;

}
.feature-content{float:right; width:48%; margin:1em 0;}

}
@media screen and (max-width: 600px) {
ul.three-focus-items > li{float:left; margin:0; width:100%; text-align:center; padding-top:1em;}	
}
@media screen and (max-width: 400px) {
.feature-icon { margin-top: 1em;display:block; width:80%;margin:1em 10%;}
.feature-content{margin-top: .75em;display:block; width:80%;margin:0 10% 1em 10%;}	
.three-focus-items p { margin: .25em; line-height: 1.25em;}
}
@media screen and (max-width: 300px) {
.three-focus-items p { margin: .25em; line-height: 1em;}
.three-focus-items h3{margin:0;}
}
ul.three-focus-items{padding-top:1em;}

		@supports (display: grid) {

		ul.three-focus-items {padding-top:0;display: grid;grid-gap: 1em;  grid-template-columns: repeat(3, 1fr); color: #444;margin:.5em auto; max-width:1400px;
		grid-auto-rows: auto; }
		ul.three-focus-items > li {margin:0; width: auto;text-align: center;font-size: 1.05em; background-color: rgba(255, 255, 255, .85);}
			
			@media screen and (max-width: 850px) {
				ul.three-focus-items {display: grid;grid-gap: 10px;  grid-template-columns: repeat(1, 1fr); color: #444; }
			}

		}

ul.three-focus-items > li { background-color: rgba(255, 255, 255, .85);display:grid;}
.page-template-page-home #page { padding:0;background-color: rgba(255, 255, 255, .85);
border-radius: 25px;max-width:1375px;}
.page-template-page-home #main{padding:1em 2em;}
.page-template-page-home #content{background:transparent;}

		@supports (display: grid) {

		ul.four-focus-items {padding-top:0;display: grid;grid-gap: 1em;  grid-template-columns: repeat(2, 1fr); color: #444;margin:.5em auto; max-width:1400px;
			grid-auto-rows: auto; }
		ul.four-focus-items > li {margin:0 auto; width: auto;text-align: center;font-size: 1.05em; background-color: rgba(255, 255, 255, .85); width:75%;display:grid;}
			
			@media screen and (max-width: 850px) {
				ul.four-focus-items {display: grid;grid-gap: 10px;  grid-template-columns: repeat(1, 1fr); color: #444; }
			}

		}
/*--- TOP SLIDER ELEMENTS (not in flexslider.css)---*/
.slider-container.clear.front-section {width: 90%;max-width: 1200px;}
#slider h2 {margin-left: 75px;padding-bottom: .5em;}
#slider h3{font-size:1.25em; padding-bottom:.5em;}
.left-side-section{float:left; width:31%;}
.left-side-section img{width:calc(100% - 75px)!important;margin-left:60px;}
.right-side-section{float:right; width: 65%;}
.inner-right-section{width:calc(100% - 75px)!important;margin-right:60px;}
@media screen and (max-width: 750px) {
	#slider h2 {margin-left: 0;padding-bottom: .5em; text-align: center;}	
	.left-side-section{float:left; width:80%; margin:0 10%; padding-bottom:1em;}
	.left-side-section img{width:100%!important;margin-left:0;}
	.right-side-section{float:left; width: 80%; margin:0 10%;}
	.inner-right-section{width:100%!important;margin-right:0;}
	.page-template-page-home .full-content-area { padding: 1em 1em 0 1em;}
	.page-template-page-home aside, .page-template-page-home blockquote {margin: 1em;padding: 1em;}
}
@media screen and (max-width: 650px) {
.page-template-page-home .gform_wrapper .gform_footer input.button, .page-template-page-home .gform_wrapper .gform_footer input[type="submit"], .page-template-page-home .gform_wrapper .gform_page_footer input.button, .page-template-page-home .gform_wrapper .gform_page_footer input[type="submit"] {
    font-size: 1em;width: auto;margin: 0em 16px 0 0;float: right;padding-top: -2em;background-color: #216aaa;-webkit-border-radius: 10px;border-radius: 10px;
    padding: 1em 2em;}
}
@media screen and (max-width: 500px) {
	.right-side-section{float:left; width: 90%; margin:0 5%;}
	.inner-right-section{width:80%!important;margin:0 10%;}
	.page-template-page-home #main aside, .page-template-page-home blockquote {border: none 0px transparent;margin: .5em;padding: 1em 2em;
	background:#216aaa;color:#ffffff;-webkit-border-radius: 10px;border-radius: 10px;font-size: 1.1em;}
}