/*-- footer region  --*/
#foot-constraint aside {border: none !important; color:$blackColor;}
.footer-menu{text-align: center;}
.footer-menu ul{list-style: none;margin:0;}
.footer-menu li{display:inline-block;  padding:0 1.5em;}
.footer-menu li a{text-decoration:none!important;}
.footer-menu li a:hover{text-decoration:underline!important;}
.footer-section{float:left;width:33%}
.site-footer, .site-info{clear:both}
.site-info{border-top:solid 2px #216aaa;  }
.site-info p{font-size:.75em;margin:1em 2em}
#foot-constraint, #second-foot-constraint{width:100%;max-width:1400px;margin-left:auto;margin-right:auto;margin-top:1em;margin-bottom:1em; padding:0 1%;}
#colophon.site-footer{border-top:solid 1px $whiteColor; }
#colophon.site-footer a{color:$blackColor;text-decoration:none;}

#foot-constraint h3 a{padding:.5em 1em; background-color:#216aaa; color:$whiteColor!important;-webkit-border-radius:20px;border-radius: 20px;}
#foot-constraint h3 a:hover{background-color:$blackColor; color:$whiteColor!important;}

#colophon.site-footer a:hover{color:$blackColor;text-decoration:underline}
#colophon.site-footer h4.widgettitle, #colophon.site-footer h1.widget-title, #colophon.site-footer h1{color:$blackColor;font-weight:normal;font-size:1.1em;margin-right:1em}