.call-to-action{}
.call-to-action h3{background: #216aaa;padding: .5em 1em;border-radius: 20px;color:$whiteColor;margin-top:.5em; text-align: center;}
.call-to-action h3 a{color:$whiteColor;}
.call-to-action h3:hover{background-color: $blackColor;}

h3.widget-button{padding:1em 2em; background:#216aaa; color:$whiteColor;}

.login-password label, .login-username label {display: block; color: #216aaa; font-weight: bold;}

#secondary  .gform_wrapper .gform_footer input.button, #secondary  .gform_wrapper .gform_footer input[type="submit"], 
#secondary   .gform_wrapper .gform_page_footer input.button, #secondary  .gform_wrapper .gform_page_footer input[type="submit"] 
{font-size: 1em;width: auto;margin: -5em 16px 0 0;float: right;padding-top: -2em;background-color:#216aaa; -webkit-border-radius: 10px;border-radius: 10px;
    padding:1em 2em;}
.login-submit input {font-size: 1em;width: auto;margin: 0 16px 0 0;padding-top: -2em;background-color:#216aaa; -webkit-border-radius: 10px;border-radius: 10px;
    padding:1em 2em;display:block;}

.login-submit input:hover {color:$whiteColor; text-decoration: underline;background-color:$blackColor;}

#foot-constraint .page-template-page-home aside{background:transparent;}