/*-----------Forms----------------------*/

button, input[type="button"], input[type="reset"], input[type="submit"]{ color:$whiteColor;
font-size: 1em;width: auto;margin: 0 16px 0 0;padding-top: -2em;background-color:#216aaa; -webkit-border-radius: 10px;border-radius: 10px;
    padding:1em 2em;display:block;}
button:hover, input[type="button"]:hover, input[type="reset"]:hover, input[type="submit"]:hover{  background:$blackColor;  color:$whiteColor}
button:focus, input[type="button"]:focus, input[type="reset"]:focus, input[type="submit"]:focus, button:active, input[type="button"]:active, input[type="reset"]:active, 
input[type="submit"]:active{ border-color:$greyColor $greyColor $greyColor $greyColor;}
input[type="text"], input[type="email"], input[type="url"], input[type="password"], input[type="search"], textarea{ color:#666;  border:1px solid $darkBrownColor;}
input[type="text"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="password"]:focus, input[type="search"]:focus, textarea:focus{ color:#111}
